

#toss{
    border:double 2px ;
    padding: 3rem;
    margin: 5rem;
    width: 20%;
    
}
#dan{
    border:double 2px ;
    padding: 3rem;
    margin: 3rem;
    width: 20%;
}
#we{
   border:double 2px ;
   padding: 3rem;
    margin:3rem ;
    width: 20%;

}
#don{
    border: double 2px;
    padding: 3rem;
    margin: 3rem;
    width: 20%;
}
