#dan{
    color: rgba(45, 26, 86, 0.918);
}
#fell{
    color: rgb(8, 13, 61)
}
#jew{
    color:#0a1451;
}
#cus{
    color: #091862;
}
#bur{
    color: #071071;
}
#gh{
    color: #0c245b;
}
#pro{
    color: #071b6c;
}
#see{
    color: #130b67;
}
#saw{
    color: #0c1b67;
}
#toss{
    color: #0a1e5e;
}
#top{
    color: #0d2666;
}
#roy{
    color: #0d2676;
}
#row{
    color: #0a1d6b;
}
#col{
    color: #0b186b;
}
#vas{
    color: #0d1a65;
}
#ver{
    color: #101f68;
}
#fass{
    color: #102673;
}

body{
    background-color: #b1b1b1b1;
    text-align: center;
}
#van{
    border: double 5px;
    margin: auto;
    padding: 3rem;
    width: 30%;
    border-radius: 50px;
    background-color: #9fc70e8f;
}