#dan{
    border: solid 2px;
    width: 30%;
    margin: auto;
}
#don{
    border:2px solid ;
    margin: auto;
    width: 30%;
}
#gh{
    border: solid 2px;
    margin: auto;
    width: 8%;
}
#jp{
    border: solid 2px;
    margin: auto;
    width: 8%;
}
#boo{
    margin:auto ;
}


